#file: noinspection SpellCheckingInspection
service: drinkbuy-wss-lambda-commands
frameworkVersion: ">=3"

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  deploymentMethod: direct
  vpc:
    securityGroupIds:
      - sg-0926ec66a0702d5c2
    subnetIds:
      - subnet-0d0781add70b61a44
      - subnet-0a9478b6b5f6c3fd4
  environment:
    DDB_LOCAL_ENDPOINT:
    MONGODB_URI: ${env:MONGODB_URI, "mongodb+srv://drinkbuy.pxmj6.mongodb.net/drinkbuy-production"}
    MONGODB_USER: ${env:MONGODB_USER, "drink-buy-api"}
    MONGODB_PASS: ${env:MONGODB_PASS, "82JN8XC2sZ6tui7R"}
    CONNECTIONS_TABLE: websocket-lambda-connections-${sls:stage}
    JWT_SECRET: ${env:JWT_SECRET, "2cf198386d100b1395c411fc97e67624"}
    SOCKET_CORS_ORIGIN: ${env:SOCKET_CORS_ORIGIN, "http://localhost:4000,http://localhost:5173,http://localhost:3000,https://r9rw7gwe6g.us-east-1.awsapprunner.com,https://pnfe47jzdw.us-east-1.awsapprunner.com"}
    API_GW_WS_ENDPOINT: ${env:API_GW_WS_ENDPOINT, "https://29jonpi3wg.execute-api.us-east-1.amazonaws.com/publish-command"}
    WEBSOCKET_API_ENDPOINT: ${env:WEBSOCKET_API_ENDPOINT, "wss://cdgfr685w1.execute-api.us-east-1.amazonaws.com/${sls:stage}"}
    #SOCKET_CORS_ORIGIN: ${env:SOCKET_CORS_ORIGIN, "http://localhost:4000"}
    #API_GW_WS_ENDPOINT: ${env:API_GW_WS_ENDPOINT, "http://localhost:4001"}
    WEBSOCKET_DOMAIN: ${env:WEBSOCKET_DOMAIN, "cdgfr685w1.execute-api.us-east-1.amazonaws.com"}
    WEBSOCKET_STAGE: ${opt:stage, 'dev'}

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:CreateTable
            - dynamodb:DescribeTable
            - dynamodb:PutItem
            - dynamodb:GetItem
            - dynamodb:DeleteItem
            - dynamodb:Scan
            - dynamodb:Query
          Resource:
            - Fn::GetAtt: [ConnectionsTable, Arn]
        - Effect: Allow
          Action:
            - execute-api:ManageConnections
          Resource:
            - arn:aws:execute-api:*:*:*/@connections/*

functions:
  websocket:
    handler: src/handlers/websocket.handler
    timeout: 30
    memorySize: 512
    events:
      - websocket: { route: $connect }
      - websocket: { route: $disconnect }
      - websocket: { route: $default }
      - websocket: { route: "user-commands-ack" }

  httpPublish:
    name: drinkbuy-wss-lambda-commands-${sls:stage}-http-publish
    handler: src/handlers/http-publish.handler
    events:
      - httpApi:
          method: POST
          path: /publish-command

resources:
  Resources:
    ConnectionsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: websocket-lambda-connections-${sls:stage}
        AttributeDefinitions:
          - AttributeName: pk
            AttributeType: S
          - AttributeName: sk
            AttributeType: S
        KeySchema:
          - AttributeName: pk
            KeyType: HASH
          - AttributeName: sk
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

plugins:
  #- serverless-dotenv-plugin
  - serverless-offline
  #- serverless-dynamodb-local
  - serverless-esbuild

custom:
  esbuild:
    bundle: true
    sourcemap: true
    target: node20
    platform: node
    external:
      - aws-sdk
  dynamodb:
    stages: [dev]
    start:
      dbPath: ./.ddb
      port: 8000
      inMemory: false
      migrate: true

  serverless-offline:
    httpPort: ${env:HTTP_PORT, 4000}
    websocketPort: ${env:WS_PORT, 4001}
    lambdaPort: ${env:LAMBDA_PORT, 4002}
